In [58]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from nltk.corpus import stopwords
import pandas as pd
import pickle

In [260]:
df=pd.read_csv("NLP.csv")

In [261]:
df.sample(5)

                                           description             category
26   Explore the architectural marvels built in the...  history and culture
17   Participate in symposiums that shed light on t...  history and culture
226  Witness architectural ingenuity ancient amphit...  history and culture
493  Join community event festival immerse local tr...    local interaction
253  Wander ancient marketplaces bustled trade cult...  history and culture

In [262]:
df['category'].value_counts()

category
history and culture      350
scenic or photography    134
adventure                 92
religious                 87
food and snacks           61
local interaction         40
Name: count, dtype: int64

In [257]:
#df['category'] = df['category'].replace('history and war', 'history and culture')

In [258]:
#df['category'].value_counts()

category
history and culture      350
scenic or photography    134
adventure                 92
religious                 87
food and snacks           61
local interaction         40
Name: count, dtype: int64

In [266]:
#df.to_csv('NLP.csv', index=False)

In [263]:
df.isnull().sum()

description    0
category       0
dtype: int64

In [267]:
df.duplicated().sum()

0

In [268]:
df = df.drop_duplicates()
df.sample(5)

                                           description               category
76   Immerse yourself in the stories of brave warri...    history and culture
30   Embark on a historical journey through the rei...    history and culture
220  Marvel precision ancient timekeeping devices m...    history and culture
413  Capture essence bustling street market lively ...  scenic or photography
328          Experience charm historical architecture.    history and culture

In [269]:

df['category'] = df['category'].apply(lambda x:x.lower())

In [270]:
from nltk.corpus import stopwords

sw_list = stopwords.words('english')

df['description'] = df['description'].apply(lambda x: [item for item in x.split() if item not in sw_list]).apply(lambda x:" ".join(x))

In [234]:
df.head(4)

                                         description               category
0  Capture panoramic view vibrant cityscape top s...  scenic or photography
1  Frame delicate beauty cherry blossoms backdrop...  scenic or photography
2  Photograph stillness mirrored lake reflecting ...  scenic or photography
3  Compose shot sun-kissed vineyard stretching ac...  scenic or photography

In [271]:
X = df.iloc[:,0:1]
y = df['category']

In [272]:
X.sample(5)

                                           description
384  Experience thrill shark cage diving unforgetta...
112  Capture enchanting glow city lights reflected ...
482  Delight intricate details beautifully decorate...
715   Sail sunset exhilarating sea kayaking expedition
253  Wander ancient marketplaces bustled trade cult...

In [273]:
y.head(2)

0    history and culture
1    history and culture
Name: category, dtype: object

In [274]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

y = encoder.fit_transform(y)

In [275]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=45)

In [276]:
from sklearn.feature_extraction.text import CountVectorizer

In [283]:
cv = CountVectorizer(ngram_range=(1,4))

In [284]:
X_train_bow = cv.fit_transform(X_train['description']).toarray()
X_test_bow = cv.transform(X_test['description']).toarray()

In [109]:
#print(cv.vocabulary_)

In [285]:
X_train_bow.shape

(608, 10300)

In [286]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

rf.fit(X_train_bow,y_train)
y_pred = rf.predict(X_test_bow)
accuracy_score(y_test,y_pred)

0.7973856209150327

In [288]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

gnb.fit(X_train_bow,y_train)

GaussianNB()

In [290]:
y_pred = gnb.predict(X_test_bow)

from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.9019607843137255

In [291]:
import pickle

In [292]:
pickle.dump(gnb,open('model.pkl','wb'))

In [293]:
pickle.dump(encoder,open('encoder.pkl','wb'))

In [294]:
pickle.dump(cv,open('cv.pkl','wb'))